* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.lpWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../assets/bg-image.jpg"); 
    background-size: cover;
    overflow: hidden;
}
.Brand {
    color: #2464E4;
    font-size: 22px;
    font-weight: 900;
}

.lpFormBody {
    display: flex;
    gap: 14px;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
.lpCard {
    width: 631px;
    height: 596px;
    padding: 40px;
    gap: 32px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #F3F4F6;
    background: #FFF;
    box-shadow: 0 16px 32px rgba(36, 100, 228, 0.2);
}

.lpHeading {
    letter-spacing: -0.56px;
    color: #1F2937;
    font-size: 20px;
    font-weight: 600;
}

.lpInputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.lpLabel {
    font-size: 14px;
    font-weight: 400;
    color: #374151;
}
.lpRequired {
    margin-left: 4px;
    color: #DC2626;
}

.lpInputField {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}
.lpButtonCon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 12px;
    margin-top: 40px;
}

.lpSubmitBtn {
    background-color: #2464E4;
    color: white;
    padding: 4px 20px;
    border: none;
    border-radius: 10px;
}

.lpBtnOutline {
    background-color: white;
    color: #2464E4;
    padding: 4px 20px;
    border: 1px solid #2464E4;
    border-radius: 10px;
}


@media (max-width: 640px) {
    .lpCard {
        width: 90%;
        gap: 14px;
        height: 510px;
    }

    .lpHeading {
        font-size: 16px;
    }

    .Brand {
        font-size: 18px;
    }

    .lpButtonCon {
        margin-top: 20px;
    }

    .lpBtnOutline,
    .lpSubmitBtn {
        padding: 6px 14px;
        font-size: 12px;
    }
}

@media (max-width: 344px) {
    .lpCard {
        padding: 20px;
    }
}
