* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.loginPageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../assets/bg-image.jpg"); 
    background-size: cover;
    overflow: hidden;
}
.companyTitle {
    color: #2464E4;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.loginPageFormBody {
    display: flex;
    gap: 14px;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
.loginPageCard {
    width: 600px;
    /* height: 560px; */
    padding: 40px;
    gap: 32px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid #F3F4F6;
    background: #FFF;
    box-shadow: 0 16px 32px rgba(36, 100, 228, 0.2);
}

.loginPageHeading {
    letter-spacing: 0px;
    color: #1F2937;
    font-size: 20px;
    font-weight: 600;
}

.loginPageInputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.loginPageLabel {
    font-size: 14px;
    font-weight: 500;
    color: #374151;
    font-family: 'Poppins', sans-serif;
}
.loginPageRequired {
    margin-left: 4px;
    color: #DC2626;
}

.loginPageInputField {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    font-size: 14px;
    outline: none;

}
.loginPageButtonCon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 12px;
    margin-top: 40px;
}

.loginPageSubmitBtn {
    background-color: #2464E4;
    color: white;
    padding: 6px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginPageBtnOutline {
    background-color: white;
    color: #2464E4;
    padding: 6px 20px;
    border: 1px solid #2464E4;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: 640px) {
    .loginPageCard {
        width: 90%;
        gap: 14px;
        height: 510px;
    }

    .loginPageHeading {
        font-size: 16px;
    }

    .Brand {
        font-size: 18px;
    }

    .loginPageButtonCon {
        margin-top: 20px;
    }

    .loginPageBtnOutline,
    .loginPageSubmitBtn {
        padding: 6px 14px;
        font-size: 12px;
    }
}

@media (max-width: 344px) {
    .loginPageCard {
        padding: 20px;
    }
}
